section.main-media_peoples
  section.main-media_ahead.main-media_ahead--peoples
    h2.main-media_title Люди Юнипро
    a.main-media_readmore(href="#") Все материалы →
  section.main-media_peoples_block
    .main-media_peoples_pic(style="background-image: url(./img/temp/mainPage-peoples-pic.jpg)")
    .main-media_peoples_content
      h4.main-media_peoples_title Евгений Конабевцев
      p.main-media_peoples_description
        | Ведущий инженер производственно-технической службы
