section.article_ahead
  .article_ahead_titleBlock
    h1.article_title h1.Ровесница ГОЭЛРО: 100 лет Шатурской ГРЭС
    span.article_date 25.06.2020
  img.article_ahead_pic(src="./img/temp/article-pic.jpg")
  .article_descriptionBlock
    p.article_description.col-9
      | Летом отметит свой вековой юбилей старейшая из всех электростанций «Юнипро» – Шатурская ГРЭС. Ее история демонстрирует силу и величие человеческого духа, способного преображать жизнь и действительность по своему выбору.
