.article_body
  .container
    .row
      .col-9
        h2 h2.Начало истории
        p
          | Там, где сейчас находится город Шатура, в начале прошлого века были лишь топкие болота и непроходимый лес, по ним бродили лоси, волки и медведи. Поблизости располагались небольшие деревни, все они тяготели к дороге — Владимирскому тракту. Глухим и заброшенным выглядел район. Шатурский край начал развиваться только с начавшимися здесь торфоразработками и строительством электростанции.
        p
          | Идея строительства ГРЭС в этих местах возникла еще до Октябрьской революции. В 1914 году экспедиция под руководством русского ученого, электроэнергетика Роберта Классона обнаружила на Шатурских болотах богатые залежи торфа. В мае 1919 года был начат первый торфяной сезон. В основном на торфоразработках работали женщины, собирая его в корзины. Позднее появились специальные уборочные машины. Организатором торфоразработок был Иван Иванович Радченко, энергетик, революционер со стажем. Он был назначен на должность начальника Главторфа.
        p
          | Весной 1919 года советским правительством было организовано управление «Шатурстрой», начальником которого назначили Александра Васильевича Винтера — известного советского ученого, инженера-электрика, академика РАН. Одновременно с началом строительства опытной электростанции развивалась инфраструктура города — прокладывались железнодорожные пути, строились складские помещения, подсобные мастерские, рабочий поселок, столовая, школа, больница. Специально для выполнения работ была проведена линия электропередачи от Орехово-Зуевской электростанции. Массовый набор рабочих на строительство начался с августа, после того как крестьяне собрали урожай. Работы велись с необычайным подъемом. Люди шли на стройку, порой не имея обуви, лишь бы работать. На месте будущего рабочего города валили лес, разбивали кварталы и улицы, производили закладку первых капитальных строений.
      .col-3
        img(src="./img/temp/article-img-1.jpg")
        small
          | Для энергоснабжения торфоразработок зимой 1919 года была построена линия электропередачи
    .row
      .col-9
        cite
          span
            | Люди шли на стройку, порой не имея обуви, лишь бы работать
        p
          | Плотники рубили срубы рабочих бараков и бани, каменщики приступили к кладке большого здания мастерских, гостиницы. Торжественный пуск временной электростанции состоялся 25 июля 1920 года. В нем принял участие председатель ВЦИК Михаил Иванович Калинин. Лучшим строителям вручили по бронзовой медали, отчеканенной по решению ВСНХ РСФСР. Эта награда была одной из первых трудовых медалей Советской республики. «Малая Шатура» стала опытной электростанцией для определения рационального способа сжигания торфа и служила базой электроснабжения шатурских торфоразработок. От исхода эксперимента зависело строительство «Большой Шатуры»: решался вопрос использования богатых торфяных запасов страны. Временная электростанция проработала до 1926 года, вырабатывая энергию зимой в часы максимальных нагрузок. В том же году она была демонтирована.
        blockquote
          span Лучшим строителям вручили по бронзовой медали, отчеканенной по решению ВСНХ РСФСР. Эта награда была одной из первых трудовых медалей Советской республики.
          figure
            img(src="./img/temp/blockquote-autor-img.png")
            figcaption
              | Винтер <br />Александр <br />Васильевич
      .col-3
    .row
      .col-9
        h3 h3.От малого к большому
        p В 1923 году начинается строительство основной электростанции («Большая Шатура») — одной из первых, построенных по плану ГОЭЛРО. На основе экспериментов по сжиганию торфа на опытной электростанции принято решение использовать топки с цепными решетками Макарьева.
        p Строительство первой очереди — трех самых передовых на тот момент агрегатов по 16 МВт и 3000 оборотов в минуту каждый — продолжалось 600 дней. В связи с тем, что немецкие фирмы отказались от изготовления котлов для торфа, считая такую задачу невыполнимой, котлы для новой станции были заказаны в Чехии, генераторы изготовила немецкая «Сименс — Шуккерт», силовые трансформаторы и другое электротехническое оборудование — английская «Метро-Виккерс». Первые два агрегата (шесть котлов и две турбины) «Большой Шатуры» введены в работу 6 декабря 1925 года, год спустя заработал и третий.
        p Впоследствии построены еще три агрегата мощностью по 44 МВт. Монтаж оборудования велся с участием и под надзором специалистов изготовителей оборудования «Метро-Виккерс», «Броун Бовери», «Кох — Штерцель», «Сименс — Шуккерт», АЕG и других. В 1930-е годы Шатурская ГРЭС была самой крупной электростанцией на торфе мощностью 180 МВт. Впоследствии (в 1960-е годы) ее оборудование было заменено на более современное. В 1939 году Указом Президиума Верховного Совета СССР за улучшение технико-экономических показателей и внедрение новой техники коллектив Шатурской ГРЭС был награжден орденом Ленина.
      .col-3
        .article_leftFact
          img.article_leftFact_icon(src="./img/temp/article-icon.svg")
          span.article_leftFact_val
            b 1500
            | МВт
          span.article_leftFact_description
            | В 1930-е годы Шатурская ГРЭС была самой крупной электростанцией на торфе мощностью 180 МВт
    .row
      .col-9
        .article_slider
          .article_slider_images
            .swiper-container.article_slider_body
              .swiper-wrapper
                .swiper-slide
                  img(src="./img/temp/article-slider-img.jpg")
                .swiper-slide
                  img(src="./img/temp/article-slider-img.jpg")
                .swiper-slide
                  img(src="./img/temp/article-slider-img.jpg")
            button.article_slider_switchButton.article_slider_switchButton--prev
              svg(class="article_slider_switchButton_icon" width="20" height="36" viewBox="0 0 20 36" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M19.9995 34.3266C19.9891 33.8954 19.8057 33.4858 19.489 33.1868L4.01851 17.9965L19.489 2.80608C19.8112 2.49833 19.993 2.07574 19.993 1.6344C19.9929 0.969234 19.5822 0.370502 18.9546 0.120207C18.327 -0.130088 17.6075 0.0179681 17.135 0.49464L0.487402 16.8407C-0.162466 17.4791 -0.162466 18.5138 0.487402 19.1522L17.135 35.4983C17.6108 35.9842 18.3416 36.1335 18.9753 35.8742C19.609 35.615 20.0157 35.0005 19.9995 34.3266H19.9995Z")
            button.article_slider_switchButton.article_slider_switchButton--next
              svg(class="article_slider_switchButton_icon" width="20" height="36" viewBox="0 0 20 36" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.000469511 34.3266C0.01085 33.8954 0.194334 33.4858 0.510951 33.1868L15.9815 17.9965L0.510951 2.80608C0.188765 2.49833 0.00699691 2.07574 0.00697078 1.6344C0.0071479 0.969234 0.417758 0.370502 1.0454 0.120207C1.67303 -0.130088 2.39254 0.0179681 2.86502 0.49464L19.5126 16.8407C20.1625 17.4791 20.1625 18.5138 19.5126 19.1522L2.86502 35.4983C2.38919 35.9842 1.65841 36.1335 1.0247 35.8742C0.390981 35.615 -0.0157299 35.0005 0.000466607 34.3266H0.000469511Z")
          
        h4 h4.Военный период
        p
          | В годы Великой Отечественной войны Шатурская ГРЭС работала круглые сутки на полную мощность, снабжая электроэнергией и столицу, и Подмосковье, приводя в движение тысячи станков, изготовляющих оружие для борьбы с фашистскими захватчиками. В механических мастерских ГРЭС с 1941 по 1945 год изготавливались корпуса мин и снарядов, деталь для миномета «катюша», пистолет-пулемет Шпагина и другое военное снаряжение.
        p
          | Шатурские торфяники бесперебойно обеспечивали топливом Шатурскую ГРЭС. При этом на электростанции была демонтирована для отправки на восток страны часть оборудования — четыре котла и две турбины, более сотни квалифицированных энергетиков ушли на фронт. Их места заняли женщины и подростки — выпускники ремесленного училища. В 1945 году за большой вклад, внесенный коллективом Шатурской ГРЭС в дело разгрома врага, электростанция была награждена орденом Трудового Красного Знамени.
        cite
          span
            | В первые послевоенные годы усилия коллектива электростанции были направлены на внедрение новой техники, механизацию и автоматизацию трудоемких процессов, на улучшение технико-экономических показателей. С 1947 года топки котлов электростанции вновь реконструировались. Шатурские энергетики впервые в мире стали сжигать торф в пылевидном состоянии и добились большого успеха. С 1947 по 1967 год на Шатурской ГРЭС была смонтирована система гидродинамического регулирования турбин. Все котлы 2-й и 3-й котельной были оборудованы автоматикой горения
          figure
            img(src="./img/temp/blockquote-autor-img.png")
            figcaption
              | Винтер Александр Васильевич
        h2 h2. В ногу со временем
        p
          | В декабре 1965 года Совет Министров СССР принял решение о расширении Шатурской ГРЭС. Мощность станции должна была увеличиться с 132 000 до 730 000 кВт. Именно тогда началось строительство нового современного энергетического комплекса, работающего на торфе. В 1971–1972 годах были возведены три энергоблока по 200 МВт каждый для работы на торфе — Шатурская ГРЭС вновь стала самой мощной торфяной электростанцией в мире. В середине 1970-х годов энергохозяйство пополнилось еще двумя мазутными блоками мощностью по 210 МВт, в 1982 году заработал теплофикационный блок на 80 МВт.
        ol
          li
            span В декабре 1965 года Совет Министров СССР принял решение о расширении Шатурской ГРЭС
          li
            span В 1971–1972 годах были возведены три энергоблока по 200 МВт
          li
            span В середине 1970-х годов энергохозяйство пополнилось еще двумя блоками мощностью по 210 МВт
          li
            span В 1982 году заработал теплофикационный блок на 80 МВт
          li
            span К своему 85-летию электростанция подошла с установленной мощностью 1100 МВт и тепловой мощностью 344,5 Гкал.
        .article_rel
          img(src="./img/temp/article-rel-pic.jpg")
          .article_rel_body
            h4 h4.Заголовок горизонтального вреза
            p В декабре 1965 года Совет Министров СССР принял решение о расширении Шатурской ГРЭС. Мощность станции должна была увеличиться с 132 000 до 730 000 кВт.
            a(href="#") подробнее
        p
          | С 1985 по 1990 год на станции развернулись работы по газификации (проект «Реконструкция ГРЭС № 5 на сжигание газа»). После их завершения ШГРЭС стала практически «всеядной», способной работать на угле, мазуте, а также торфе. К своему 85-летию электростанция подошла с установленной мощностью 1100 МВт и тепловой мощностью 344,5 Гкал.
        ul
          li
            span В декабре 1965 года Совет Министров СССР принял решение о расширении Шатурской ГРЭС
          li
            span В 1971–1972 годах были возведены три энергоблока по 200 МВт
          li
            span В середине 1970-х годов энергохозяйство пополнилось еще двумя блоками мощностью по 210 МВт
          li
            span К своему 85-летию электростанция подошла с установленной мощностью 1100 МВт и тепловой мощностью 344,5 Гкал.
        h2 h2. Масштабы обновления
        p
          | В 2006 году Шатурская ГРЭС, наряду с четырьмя другими электростанциями России, вошла в состав «Четвертой генерирующей компании оптового рынка электроэнергии», впоследствии «Э.ОН Россия», затем ПАО «Юнипро», став ее производственным филиалом. 26 ноября 2010 года на станции состоялось торжественное мероприятие пуска парогазового энергоблока. Установленная мощность составляла 393,4 МВт. Это событие ознаменовало следующую страницу в истории социально-экономического развития Шатурского района. А уже в первом квартале 2019 года произошла перемаркировка ПГУ. Благодаря проведенной модернизации компрессора газовой турбины мощность увеличилась на 6,6 МВт и на данный момент составляет 400 МВт. Вследствие перемаркировки ПГУ-400 общая мощность филиала «Шатурская ГРЭС» ПАО «Юнипро» составляет 1500 МВт.
        .article_fact
          pre(style="margin-top: -50px")
            span
              b 1500
            span МВт
          span.article_fact_description общая мощность филиала «Шатурская ГРЭС»
        h2 h2. Наше время
        p
          | У Шатурской электростанции есть замечательная привычка — постоянно меняться к лучшему, развиваясь в ногу со временем. Это можно увидеть не только на производстве, но и в социальной жизни коллектива и филиала. Станция активно помогает улучшению материально-технической базы социальных организаций.
        p
          | Так, 1 сентября 2017 года в Шатурском лицее при поддержке станции торжественно открыт энергетический класс, созданный в рамках социального проекта компании «Карьера начинается в школе». В программу обучения старшеклассников включены дополнительные уроки по физике, математике, информатике, английскому языку, а также классные часы по инженерно-энергетическим специальностям, процессу производства электроэнергии. Помимо энергокласса в лицее, налажено взаимодействие с Шатурским энергетическим техникумом. Много талантливых выпускников работает на станции.
        p
          | На Шатурской ГРЭС ценятся традиции и проведение досуга в кругу семьи. Благодаря организации совместных праздников и мероприятий сотрудники могут раскрыть не только свой творческий потенциал, но и пообщаться с коллегами в неформальной обстановке. Важной задачей для станции также остается взаимодействие с ветеранами труда, ветеранами Шатурской ГРЭС и пенсионерами. Среди юбилейных мероприятий самыми почетными являются поздравления пенсионеров ГРЭС. Стало доброй традицией чествовать своих ветеранов. Коллектив электростанции не останавливается на достигнутом и продолжает делать добрые дела и выполнять поставленные задачи.
        .article_fact
          pre
            span
              center Поздравления пенсионеров ГРЭС
          span.article_fact_description
            center общая мощность филиала «Шатурская ГРЭС»
        h2 h2. Наше время
          p
            | У Шатурской электростанции есть замечательная привычка — постоянно меняться к лучшему, развиваясь в ногу со временем. Это можно увидеть не только на производстве, но и в социальной жизни коллектива и филиала. Станция активно помогает улучшению материально-технической базы социальных организаций.
          p
            | Так, 1 сентября 2017 года в Шатурском лицее при поддержке станции торжественно открыт энергетический класс, созданный в рамках социального проекта компании «Карьера начинается в школе». В программу обучения старшеклассников включены дополнительные уроки по физике, математике, информатике, английскому языку, а также классные часы по инженерно-энергетическим специальностям, процессу производства электроэнергии. Помимо энергокласса в лицее, налажено взаимодействие с Шатурским энергетическим техникумом. Много талантливых выпускников работает на станции.
          p
            | На Шатурской ГРЭС ценятся традиции и проведение досуга в кругу семьи. Благодаря организации совместных праздников и мероприятий сотрудники могут раскрыть не только свой творческий потенциал, но и пообщаться с коллегами в неформальной обстановке. Важной задачей для станции также остается взаимодействие с ветеранами труда, ветеранами Шатурской ГРЭС и пенсионерами. Среди юбилейных мероприятий самыми почетными являются поздравления пенсионеров ГРЭС. Стало доброй традицией чествовать своих ветеранов. Коллектив электростанции не останавливается на достигнутом и продолжает делать добрые дела и выполнять поставленные задачи.
        .table
          table
            thead
              tr
                th Столбец 1
                th Столбец 2
                th Столбец 3
                th Столбец 4
                th Столбец 5
            tbody
              tr
                td Lorem.
                td Nostrum.
                td Neque.
                td Nisi!
                td Porro!
              tr
                td Lorem.
                td Quaerat!
                td Asperiores.
                td Recusandae?
                td Officiis.
              tr
                td Lorem.
                td Iste!
                td Neque.
                td Esse.
                td Reiciendis.
              tr
                td Lorem.
                td Nisi!
                td Qui.
                td Aspernatur.
                td Molestiae!
            tfoot
              tr
                td(colspan="5") Название таблицы
      .col-3
