section.article_comments
  .article_comments_container
    .article_comments_titleBlock
      h2.article_comments_title Комментарии
      span.article_comments_counter 3
    .article_comments_items
      .article_comments_item
        img.article_comments_item_author-pic(src="./img/temp/blockquote-autor-img.png")
        .article_comments_item_ahead
          span.article_comments_item_authorName Александр Винтер
          span.article_comments_item_commentDate 15:37, 24.06.2020
        p.article_comments_item_content
          | На Шатурской ГРЭС ценятся традиции и проведение досуга в кругу семьи. Благодаря организации совместных праздников и мероприятий сотрудники могут раскрыть не только свой творческий потенциал, но и пообщаться с коллегами в неформальной обстановке
      .article_comments_item
        img.article_comments_item_author-pic(src="./img/temp/blockquote-autor-img.png")
        .article_comments_item_ahead
          span.article_comments_item_authorName Александр Винтер
          span.article_comments_item_commentDate 15:37, 24.06.2020
        p.article_comments_item_content
          | На Шатурской ГРЭС ценятся традиции и проведение досуга в кругу семьи. Благодаря организации совместных праздников и мероприятий сотрудники могут раскрыть не только свой творческий потенциал, но и пообщаться с коллегами в неформальной обстановке
      .article_comments_item
        img.article_comments_item_author-pic(src="./img/temp/blockquote-autor-img.png")
        .article_comments_item_ahead
          span.article_comments_item_authorName Александр Винтер
          span.article_comments_item_commentDate 15:37, 24.06.2020
        p.article_comments_item_content
          | На Шатурской ГРЭС ценятся традиции и проведение досуга в кругу семьи. Благодаря организации совместных праздников и мероприятий сотрудники могут раскрыть не только свой творческий потенциал, но и пообщаться с коллегами в неформальной обстановке
