section.article_share
  .article_share_container
    h2.article_share_title Поделиться
    .article_share_items
      button.article_share_item.article_share_item--twitter(value="tw")
        +icon('icon-twitter', 'article_share_item_icon')
      button.article_share_item.article_share_item--facebook(value="fb")
        +icon('icon-facebook', 'article_share_item_icon')
      button.article_share_item.article_share_item--vkontakte(value="vk")
        +icon('icon-vk', 'article_share_item_icon')
      button.article_share_item.article_share_item--odnoklassniki(value="ok")
        +icon('icon-ok', 'article_share_item_icon')

