article.col-4
    a.shortnews.konkurs-item(href='#')
        img(src="https://placeimg.com/460/300/arch", alt="" loading="lazy").konkurs-item-image-col
        h4.shortnews_title Название конкурса заголовок в две строки заголовок в две строки заголовок
        p.shortnews_description Описание в две строки описание в две строки описание в две строки описание в две строки
    