nav.konkurs-nav-wrap

  ul.konkurs-nav
    li.konkurs-nav__item(class=(page === "part" ? "konkurs-nav__item_active" : ""))
      a(href="conkurs_participants.html").konkurs-nav__link Участники 
    li.konkurs-nav__item(class=(page === "cond" ? "konkurs-nav__item_active" : ""))
      a(href="conkurs_conditions.html").konkurs-nav__link Условия
    li.konkurs-nav__item(class=(page === "winn" ? "konkurs-nav__item_active" : ""))
      a(href="conkurs_winners.html").konkurs-nav__link Победители  