article.col-4
  a.shortnews.konkurs-item(href='#')
    .konkurs-item__picture-wrap
      if page === "part"
        .blue-likes
          +icon('icon-like--dark', 'blue-likes__ico')
          span.blue-likes__val 10
      img(src="https://placeimg.com/460/300/people", loading="lazy" alt="Участник" width="460" height="300" ).participants-item-image
    h4.shortnews_title Имя Фамилия 
    p.shortnews_description Описание в две строки описание в две строки описание в две строки описание в две строки
    
          