---
title: Категория
---
extends layouts/_layout
block content
  include ./blocks/layout/header
  main.main
    .main-wrapper
      include ./blocks/category-page/ahead
      include ./blocks/category-page/category-body
  include ./blocks/layout/footer
