---
title: Статья
---
extends layouts/_layout
block content
  include ./blocks/layout/header
  - var page = 'cond'
  main.main
    .konkurs 
      .main-wrapper     
        .container
          include ./blocks/konkurs/nav
          br
          br
          h1.article_title ПРАВИЛА И УСЛОВИЯ УЧАСТИЯ КОНКУРСЕ <br> «Создай свой дизайн!»

          .article_body.col-9
            p.mt0 Небольшое описание конкурса. Там, где сейчас находится город Шатура, в начале прошлого века были лишь топкие болота и непроходимый лес, по ним бродили лоси, волки и медведи. Поблизости располагались небольшие деревни, все они тяготели к дороге — Владимирскому тракту. Глухим и заброшенным выглядел район. Шатурский край начал развиваться только с начавшимися здесь торфоразработками и строительством электростанции.
            .konkurs_description 1. Организатором Конкурса «Создай свой дизайн!» (далее – «Конкурс») является Общество с ограниченной ответственностью «Руссбланкоиздат» (далее – Организатор).
            
            p Сведения об Организаторе: <br><br> Юридический адрес: РФ, 129281, г. Москва, Староватутинский проезд, д. 12, стр. 5 

            p ИНН 7725106600
            p Банковские реквизиты: 
            p р/с 40702810938090114130 в ПАО «Сбербанк» 
            p к/с 30101810400000000225
            p БИК 044525225

            .konkurs_description 2. В Конкурсе могут принять участие только лица, соответствующие всем следующим требованиям (далее – «Участники»):
           
            
            p — граждане Российской Федерации;
            p — совершеннолетние граждане РФ (достигшие 18-летнего возраста);
            p — дееспособные;
            p — являющиеся зарегистрированными  и авторизованными пользователями социальной сети Вконтакте;
            p — состоящие в официальной группе «Комус» в социальной сети Вконтакте;
            p — проживающие на территории Российской Федерации.

            p К участию в Конкурсе не допускаются сотрудники Организатора, аффилированных с ним компаний, а также членов их семей.

            br 
            
            .konkurs_description 3. Конкурс проводится на территории Российской Федерации.

            p — граждане Российской Федерации;
            p — совершеннолетние граждане РФ (достигшие 18-летнего возраста);
            p — дееспособные;
            p — являющиеся зарегистрированными  и авторизованными пользователями социальной сети Вконтакте;
            p — состоящие в официальной группе «Комус» в социальной сети Вконтакте;
            p — проживающие на территории Российской Федерации.
            br
            p К участию в Конкурсе не допускаются сотрудники Организатора, аффилированных с ним компаний, а также членов их семей.

            .konkurs_description 4. Условия участия в Конкурсе.

            p  4.1. Для того чтобы принять участие в Конкурсе, Участнику необходимо в Период приема заявок на участие в Конкурсе с 05.06.2017 г. по 30.07.2017 г. (включительно):
            br

            p  4.1.1. Создать своими силами векторное  изображение  или графический элемент для оформления тетради (далее – творческая  работа) и прислать его в формате .jpeg (минимальное разрешение изображения 300 dpi) на адрес электронной почты: konkurs.design2017@gmail.com, в тексте письма Участник должен указать ФИО и дату рождения (в соответствии с паспортом), контактный номер телефона для связи с Организатором, а также ссылку на свою персональную страницу в социальной сети Вконтакте. 
              | <br> Творческая работа должна соответствовать следующим критериям (следующему заданию):

            p - быть оригинальной, т.е. Творческая работа не может быть заимствована и должна быть создана Участником лично;
            p - быть фотографической, растровой или векторной, цветной или монохромной; 
            p  - не должна быть исполнена в агрессивной тематике, вызывающей негативные эмоции у людей, направленной на разжигание конфликтов, пропаганду курения и других вредных привычек;
            p - не должна содержать текст или изображение, которые пропагандируют насилие, расовую, национальную, социальную, политическую или религиозную нетерпимость и призывы к ним или иным образом нарушать действующее законодательство РФ. 
            p  
            
  


        

      


        
  include ./blocks/layout/footer
