.icon-clock {
  width: 0.85em;
  height: 1em;
  fill: #666;
}
.icon-comments--dark {
  width: 0.93em;
  height: 1em;
  fill: #333;
}
.icon-comments {
  width: 0.93em;
  height: 1em;
  fill: #fff;
}
.icon-facebook {
  width: 0.5em;
  height: 1em;
  fill: #fff;
}
.icon-filter-button-arrow--blue {
  width: 1.5em;
  height: 1em;
  fill: #0078dc;
}
.icon-filter-button-arrow {
  width: 1.5em;
  height: 1em;
  fill: #00944A;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-like--dark {
  width: 1.08em;
  height: 1em;
  fill: #666;
}
.icon-like {
  width: 1.08em;
  height: 1em;
  fill: #fff;
}
.icon-logo {
  width: 13.2em;
  height: 1em;
  fill: #0078DC;
}
.icon-ok {
  width: 0.6em;
  height: 1em;
  fill: #fff;
}
.icon-project-logo {
  width: 1.64em;
  height: 1em;
  fill: #fff;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-twitter {
  width: 1.25em;
  height: 1em;
  fill: #fff;
}
.icon-unipro {
  width: 1.67em;
  height: 1em;
  fill: #fff;
}
.icon-user {
  width: 0.96em;
  height: 1em;
  fill: #fff;
}
.icon-vk {
  width: 1.88em;
  height: 1em;
  fill: #fff;
}
