section.announcement
  .announcement_container
    .announcement_row
      .announcement_contentBlock
        h3.announcement_title Анонс мероприятия
        p.announcement_content
          | Дополнительная информация На Березовской ГРЭС проходит опытную эксплуатацию новая интегрированная система
      a.announcement_lead(href="#") подробнее
