section.mainSlider
  .mainSlider_left
    .mainSlider_container.swiper-container
      .swiper-wrapper
        .swiper-slide
          .mainSlider_item
            h2.mainSlider_item_title Ровесница ГОЭЛРО: 100 лет Шатурской ГРЭС
            p.mainSlider_item_content
              | Ее история демонстрирует силу и величие человеческого духа, способного преображать жизнь и действительность по своему выбору.
            .mainSlider_item_meta
              .mainSlider_item_meta_el
                +icon('icon-like', 'mainSlider_item_meta_el_icon')
                span.mainSlider_item_meta_el_content 10
              .mainSlider_item_meta_el
                +icon('icon-comments', 'mainSlider_item_meta_el_icon')
                span.mainSlider_item_meta_el_content 2
            a.mainSlider_item_readmore(href="#") Читать далее
        .swiper-slide
          .mainSlider_item
            h2.mainSlider_item_title Ровесница ГОЭЛРО: 100 лет Шатурской ГРЭС
            p.mainSlider_item_content
              | Ее история демонстрирует силу и величие человеческого духа, способного преображать жизнь и действительность по своему выбору.
            .mainSlider_item_meta
              .mainSlider_item_meta_el
                +icon('icon-like', 'mainSlider_item_meta_el_icon')
                span.mainSlider_item_meta_el_content 10
              .mainSlider_item_meta_el
                +icon('icon-comments', 'mainSlider_item_meta_el_icon')
                span.mainSlider_item_meta_el_content 2
            a.mainSlider_item_readmore(href="#") Читать далее
        .swiper-slide
          .mainSlider_item
            h2.mainSlider_item_title Ровесница ГОЭЛРО: 100 лет Шатурской ГРЭС
            p.mainSlider_item_content
              | Ее история демонстрирует силу и величие человеческого духа, способного преображать жизнь и действительность по своему выбору.
            .mainSlider_item_meta
              .mainSlider_item_meta_el
                +icon('icon-like', 'mainSlider_item_meta_el_icon')
                span.mainSlider_item_meta_el_content 10
              .mainSlider_item_meta_el
                +icon('icon-comments', 'mainSlider_item_meta_el_icon')
                span.mainSlider_item_meta_el_content 2
            a.mainSlider_item_readmore(href="#") Читать далее
      .mainSlider_pagination
  .mainSlider_right
    .mainSlider_img(style="background-image: url(./img/temp/main-slider-img.jpg)")
    .mainSlider_img(style="background-image: url(./img/temp/main-slider-img-2.jpg)")
    .mainSlider_img(style="background-image: url(./img/temp/main-slider-img-3.jpg)")
